/* Index Page */
#index-content {
    margin-left: 4.8%;
}

#big-name {
    font-size: 50px;
}

#index-intro {
    font-size: large;
    width: 40%;
}

#extra {
    margin-top: 80px;
    font-size: large;
}