/* Global Styles */
body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-color: #181818;
}

li {
    font-weight: bold;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #9436E1;
}

a:hover {
    color: dodgerblue;
}

.big-name {
    font-size: 50px;
}

.hidden {
    display: none;
}

.background {
    background-color: #181818;
    padding-top: 100px;
    height: 100vh;
    margin-top: -10px;
    margin-bottom: -10px;
}

.purple {
    color: #9436E1;
}

.blue {
    color:dodgerblue
}

.white {
    color: white;
}

.gray {
    color: #3E3E3E;
}

.bottom-padding {
    padding-bottom: 10%;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Navigation */
header {
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    z-index: 1000; 
}

#navigation-bar {
    display: flex;
    justify-content:space-between;
    width: 97%;
    align-items: center;
    margin: 0 auto;
    background-color: #181818;
}

#navigation-bar li {
    padding: 10px;
    margin: 2px 0;
}

#navigation-items {
    padding: 10px 20px;
    gap: 20px;
}

/* Hamburger Menu */
#nav-toggle div {
    width: 35px;
    height: 5px;
    background-color: dodgerblue;
    margin: 6px 0;
}

#nav-toggle {
    padding: 10px 20px;
    margin-left: -6%;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: auto;
    margin-left: auto;
}

#link-bar {
    display: flex;
    justify-content: space-between;
    width: 97%;
    align-items: center;
    margin: 0 auto;
}

#links img {
    width: 2%;
    height: 2%;
    padding: 10px;
    float: right;
}

/* Smaller Resolutions */
@media (max-width: 900px){
    .background {
        height: 150vh;
    }

    #navigation-bar {
        width: 94%;
    }

    #little-name,
    #navigation-items {
        display: none;
    }

    #navigation-items.hidden {
        display: flex;
    }

    footer {
        display: block;
        position: fixed;
        bottom: 0;
        right: 0;
        width: 90%;
    }

    #links img {
        width: 5%;
        height: 5%;
        padding: 10px;
        float: right;
    }
}

/* Larger Resolutions */
@media (min-width: 900px){
    .flex-container,
    #navigation-items {
        display: flex;
    }

    #nav-toggle {
        display: none;
    }
}